[Unit]
Description={{ app_name }} (Docker Compose app)
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ app_user }}
Group={{ app_group }}
WorkingDirectory={{ app_dest }}
ExecStart={{ docker_bin }} compose up --detach
ExecStop={{ docker_bin }} compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
